<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>位置情報利用許可を許可してください。</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>いつでも許可</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>アプリ利用中に許可</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>processing</string>
	</array>
</dict>
</plist>
